<h1>Hi, we noticed you clicked a link to get to know our product better, 
unfortunately we dont have anything on this page yet. In order to mitigate some 
of your dissappoint, we have provided some lyrics to one of my favorite songs, "Just The Way You Are" by Billy Joel</h1>
<br>
<p>Don't go changing to try and please me
You never let me down before
Don't imagine you're too familiar
And I don't see you anymore
I wouldn't leave you in times of trouble
We never could have come this far
I took the good times; I'll take the bad times
I'll take you just the way you are
Don't go trying some new fashion
Don't change the color of your hair
You always have my unspoken passion
Although I might not seem to care
I don't want clever conversation
I never want to work that hard
I just want someone that I can talk to
I want you just the way you are</p>