h1 for Edit Event - (eventname)
<div class="eventinfo">
Event info
add poster/flyer
<button>choose poster</button>


e.input
e.string :event_name

e.input
e.datetime - starts , time, ends, time

e.input
e.text :event_description

event header image
<button>choose event header</button>

<button>Delete Event</button>
</div>
<div class="optionalinfo">
    o.input
    o.string Youtube URL
    
    o.input 
    o.string Type of Music is playing at your event
    
    o.input 
    o.string What people should ware to your event
    
    o.input 
    o.string What people should not wear to your event
    
    o.input
    o.string Minimum age allowed to your event
    
</div>
<div class="publicpage">
    p.input
    p.boolean Hidee Guestlist Button
    
    p.input
    p.boolean Hide Reservations Button
    
    p.input
    p.boolean Show Tablelist Button
    
    p.input
    p.boolean Show External Ticket Button
    
    p.input
    p.somekindadatetime What time should the gueslist button be disabled?
</div>
<div class="viewpublic">
View Public Page
refresh page
view page
some icons
</div>