       <select class="form-control" id="exampleSelect1"  onChange="window.location.href=this.value">
    
      <option onClick="window.location = 'http://www.google.com'">All Reservations</option>
    </select>
  </div>