<div class="stats-bar clearfix" ng-hide="isExternalOrganization() || hideStatsBar">
      <div class="stat">
        <label>Total Reservation Count</label>
        <div class="value green">
          <span class="checkedin-guest-total">2</span>
          <div class="change guest-total">
            out of 2
          </div>
        </div>
      </div>
      <div class="stat">
        <label>Total Minimums</label>
        <div class="value green">
          <span class="revenue-total">
            <i class="fa fa-ticket"></i> $165.00
          </span>
          <div class="change tickets-total">
            out of $165.00
          </div>
        </div>
      </div>
      <div class="stat">
        <label>Total Spent</label>
        <div class="value green covers-total">
          <span class="cover-revenue-total">
            <i class="fa fa-money"></i> $78.00
          </span>
          <div class="change tickets-total">
            out of $78.00
          </div>
        </div>
      </div>
      <div class="stat">
        <label>Gender Split</label>
        <div class="value gender-ratios">
          <div class="gender-rations-top">
            <span class="male-ratio">
              33%
            </span> /
            <span class="female-ratio">
              67%
            </span> /
            <span class="unisex-ratio">
              0%
            </span>
          </div>
        </div>
      </div>
    </div>