// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.resform {
    padding-top: 50px;
}
.res {
    padding-top: 50px;
}


.resindex {
    padding-top: 100px;
}

.atest {
    padding-top: 50px;
}

.statb {
    padding-top: 1000px;
}

.hbi {
    padding-bottom: 100px;
}
 
 body {
    margin-top: 2%
}