// * {
//     margin: 0px;
//     padding: 0px;
// }
// header {
//     height: 795px;
//     background-size: 100%;
//     background-image: url(peeps.png) ;
//     right: 0;
//     padding-top: 0px;
// }

// nav ul li {
//     display: inline-block;
//     margin-right: 20px;
//     float: right;
//     padding: 4.8px 15px ;
//     margin-top: 0px;
//     color: white;
     
    
// }

// #logo {
//     float: left;
//     color: white;
//     text-transform: uppercase;
//     text-decoration: none;
//     margin-left: 10px;
// }

// nav {
//   position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 49px;
//     background-color: rgba(0, 0, 0, 0.8);
//     z-index: 100;
//     line-height: 40px;
// }

// header {
//     height: 10em;
   
//     margin: 0;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     margin-right: -50%;
//     transform: translate(-50%, -50%) }

// .wonton {
//     padding-top: 890px;
// }

// .howdy {
//     padding-top: 50px;
// } 

// .testimonies {
//     padding-top: 300px;
//     padding-bottom: 150px;
    
// }

// .midbottom {
//     padding-top: 20px;
// }

#logged {
   
   
}


.spacetop {
    padding-top: 230px;
}
.peepspic {
   
     padding-bottom: 500px;
    background: url(peeps.png) no-repeat center center fixed; 
    background-size: 1500px 700px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}



.col-xs-12 {
  padding-top: 7px;
  
}

.col-sm-6{
    padding-right: 1px;
}
   



// body { 
//   background: url(peeps.png) no-repeat center center fixed; 
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   position: relative;
// }

.wonton {
     background: url(white.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.textfade {
    background: rgba(0,0,0,0.5);
    
}

.demo {
    text-align: center;
   
}
.demo a {
  
    color: #40E0D0;
    font-family: "Evo";
}

.aligncenter {
   text-align: center;
}

.col-md-3 {
    text-align: center;
    padding-top: 20px;
}

.col-md-3 p {
    text-align: left;
}
.col-md-3  {
    margin: auto;
}

.headcent {
    text-align: center;
    color: white;
    font-family: 'Exo';
}
.light {
    text-align: center;
    color: white;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
    font-family: "Arsenal";
    font-size: 12px;
    
}

.nav.navbar-nav.navbar-right {
padding-left: 20px;
}

#logged {
    padding-top: 10px;
    padding-left: 6px;

}


.button {
    background-color: 	#40E0D0;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
   
}
#start{
    padding-top: 10px;
    padding-left: 14px;
    
}
.butto{
    border: solid 1px;
    border-color: #40E0D0;
    color: white;
    padding: 5.4px 8px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
}

.lgo {
    height: 2em;
}
li a {
    height: 2em;
}

img {
    //padding-bottom: 15px;
   // padding-top: 2px;
   // margin-top: 0px;
}

.customer {
    padding-left: 10px;
}

.twobuttons {
    padding-top: 80px;
}

.startem a {
    
     background-color: #40E0D0;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 4px;
    
    
}

.whw {
    padding-left: 0px;
    margin-left: 20px;
}
.whh {

    margin-left: 40px;
}

.startem a {
    color: white;
}
.startem a:hover {
    color: white;
}

.productem {
    border: none;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid;
    border-color:	#40E0D0;
    display: inline-block;
    font-size: 12px;
   padding-top: 25px;
}
.productem a {
    color: #40E0D0;
}
.productem a:hover {
    color: #40E0D0;
    text-decoration: none;

}


//work on the go

.work {
    background: linear-gradient(left top, 141deg, #0fb8ad);
    padding: 100px 0px;
    text-align: center;
}
.par p {
     margin: 0px 450px 10px 500px;
     text-align: left;
     padding-top: 20px;
}


// trying to fix features vvv

// .container .features-list{
//     padding-left: 0;
//     padding-right: 500px;
// }

// .w {
//     margin-left: 0px;
//     padding-right: 200px;
// }
// .col-md-3 {
//     margin-left: 0px;
//     padding-right: 200px;
// }

// .features-list {
//      margin-left: 0px;
//     padding-right: 200px;
    
// }
.centrow {
     margin: auto; 
     max-width: 900px;
}

.featfix {
    padding-left: 80px;
    max-width: 980px;
}

// testimonies

.testimonies {
    padding-bottom: 200px;
}

.headspace {
    padding-bottom: 38px;
}


.testimonies h4 {
    font-style: italic;
    
}
.testimonies h3 {
    font-weight: bold;
    font-size: 14px;
    
}
.testimonies p {
    font-size: 11px;
    
}

.client {
    text-align: center;
    max-width: 350px;
    margin: auto;
}

.client p {
    text-align: left;
}


// client picture grid

.picgrid {
   padding-right: 176px;
}

.row {
    padding-bottom: 2px;
}

.customer {
    float: right;
    padding-right: 4px;
    padding-left: 0px;
}

